<!-- <p><%= @game.player_1.name %></p>
<p><%= $game.player_1.name %></p> -->

<h2><%= @game.chosen_player.name %> attacked! </h2>

<p><%= @game.other_player.name %> takes the hit! Ouch!</p>

<%= @game.chosen_player.name %> <%= @game.other_player.hit_points %>HP

<form action="/play">
  <input type="submit" value ="OK">
</form>
