<h1 style="color:blue;"><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h2 style="color:red;"><%= @game.other_player.name %> <%= @game.other_player.hit_points %>HP

<p><%= @game.chosen_player.name %>'s turn</p>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
